apiVersion: tables.example.com/v1alpha1
kind: IcebergTable
metadata:
  name: customer-info
spec:
  catalog:
    name: polaris
    type: rest
    warehouse: abfs://datalake@storageaccount.dfs.core.windows.net/warehouse
  database: customer
  table: customerinfo
  schema:
    - name: id
      type: long
      required: true
    - name: name
      type: string
      required: true
    - name: email
      type: string
      required: false
      
  partitionSpec:
    - name: date
      transform: day
  properties:
    write.format.default: parquet
  retentionPolicy:
    snapshotExpirationDays: 30
